{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel='stylesheet' href='{% static 'blog/blog.css' %}'>
    <link rel='stylesheet' href='{% static 'blog/includes/header.css' %}'>
{% endblock %}

{% block title %}
    Challenge
{% endblock %}

{% block content %}
    {% include 'challenges/includes/header.html' with active_page='challenge'%}
    <h1>{{month|title}} challenge</h1>

    {% if message is not None %}
        <h2>{{message}}</h2>
    {% else %}
        <p> Nothing for this month </p>
    {% endif %}
{% endblock %}
