{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel='stylesheet' href='{% static 'blog/index.css' %}'>
    <!-- <link rel='stylesheet' href='{% static 'blog/includes/header.css' %}'> -->
{% endblock %}

{% block title %}
    My Blog
{% endblock %}

{% block content %}
    {% include 'blog/includes/header.html' %}
    <section id='welcome'>
        <header>
            <img src='', alt='DMG - The author of this blog' />
            <h2>DMG'S Blog</h2>
        </header>
        <p>Hi I love blog about anything!</p>
    </section>
    <section id='latest-posts'>
        <h2>My Latest Thoughts</h2>
        <ul>
            <li>
                <article class='post'>
                    <a href=''>
                        <img src='' alt='Mountain Hiking' />
                        <div class='post__content'>
                            <h3>Mountaing Hiking</h3>
                            <p>There is nothing like the views you get when hiking in the mountain</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    <section id='about'>
        <h2>What I Do</h2>
        <p>I love programming</p>
        <p>My goal is to keep on growing as a developer</p>
    </section>
{% endblock %}
